<%= render 'pages/home' unless user_signed_in? %>

<div id="pins" class="transitions-enabled" style = "margin-top: 100px;" >
  <% @pins.each do |pin| %>
    <div class="box panel panel-default" style = "box-shadow: 0px 0px 5px black;
    border-style:solid;
    border-color: white;
    border-width: 3px;">
      <%= link_to image_tag(pin.image.url(:medium)), pin %>
      <div class="panel-body" >
        <div class="panel-heading center">
          <%= pin.description %><br/>
          <strong><%= pin.user.name if pin.user %></strong>
          <%= pin.user.email if pin.user %>
          <% if pin.user == current_user %>
            <div class="actions">
                        <%= link_to edit_pin_path(pin) do %>
              <span class="glyphicon glyphicon-edit"></span>
              Edit
            <% end %>
            <%= link_to pin, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
              Delete
            <% end %>
              </div>
              <% end %>
          </div>
      </div>
    </div>
  <% end %>

</div>
<div class="center">
   <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>

<!--<%= will_paginate @pins %> -->